/* Type Selectors */
*{
    background-color: lavender;
}
button {
    color: green;
}
.blue {
    color: blue;
}
#big_text_header{
    font-size: 60px;
    color: darkblue;
}
a[href*="wikipedia"]{
    background-color: purple;
    color: white;
}
h2, h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: slateblue;
}